*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        line-height: 1.5;
}

html{
        scroll-behavior: smooth;
}

body{
        background: rgb(167, 167, 167);
}

header{
        position: absolute;
        top: 0;
        left: 0;
        height: 15%;
        width: 100%;
        text-align: center;
        background: blueviolet;
}

header h2{
        position: relative;
        font-size: 40px;
        height: 100%;
        top: 25px;
        color: white;
}


aside{
        position: fixed;
        width: 20%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: blueviolet;
        color: white;
        padding: 30px;
        overflow-x: hidden;
        overflow-y: scroll;
}

aside a{
        text-decoration: none;
        color: white ;
}

aside a:hover{
        text-decoration: underline;
}

aside h3{
        font-size: 30px;
        margin-bottom: 10px;
}

aside ul{
        padding: 10px;
}

aside ul h4{
        font-size: 20px;
        margin-bottom: 10px;
}

aside ul li{
        list-style: none;
        padding: 0 0 0 20px;
}

main{
        position: absolute;
        top: 15%;
        left: 20%;
        z-index: -1;
        padding: 50px;
        background-color: white;
}

main h2{
        font-size: 28px;
        margin-bottom: 20px;
}

main h5{
        font-size: 20px;
        margin-bottom: 10px;
}

main p{
        padding: 20px;
}
